.about {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.about h3 {
    color: white;
    font-size: 4em;
}

.about p {
    color: var(--quinary);
    font-size: 1.2em;
    line-height: 1.5;
}