.intro-card {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

.intro-card img {
    max-width: 25%;
}

.intro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.intro-info h2 {
    color: white;
    font-size: 4em;
    text-shadow: 
    /* 3D EFFECT: (horizontal, vertical, blur, color) */
        -1px 1px 1px var(--secondary),
        -2px 2px 1px var(--secondary),
        -3px 3px 1px var(--secondary),
        -4px 4px 1px var(--secondary),
        -5px 5px 1px var(--secondary),

    /* SHADOW: (horizontal offset, vertical offset, blur radius, rgba = red, green, blue, alpha) */ 
        -10px 18px 6px rgba( 16, 16, 16, 0.4),
        -20px 22px 10px rgba( 16, 16, 16, 0.2),
        -30px 25px 35px rgba( 16, 16, 16, 0.2),
        -40px 30px 60px rgba( 16, 16, 16, 0.4);

    animation: zoomIn 1.5s ease-out forwards;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        font-size: 1em;
        text-shadow:
            -1px 1px 1px var(--secondary),
            -2px 2px 1px var(--secondary),
            -3px 3px 1px var(--secondary),
            -4px 4px 1px var(--secondary),
            -5px 5px 1px var(--secondary),    
            -5px 9px 3px rgba(16, 16, 16, 0.2),
            -10px 11px 5px rgba(16, 16, 16, 0.1),
            -15px 12px 10px rgba(16, 16, 16, 0.1),
            -20px 15px 15px rgba(16, 16, 16, 0.2);
    }
    100% {
        opacity: 1;
        font-size: 4em;
        text-shadow:
            -1px 1px 1px var(--secondary),
            -2px 2px 1px var(--secondary),
            -3px 3px 1px var(--secondary),
            -4px 4px 1px var(--secondary),
            -5px 5px 1px var(--secondary),
    
            -10px 18px 6px rgba(16, 16, 16, 0.4),
            -20px 22px 10px rgba(16, 16, 16, 0.2),
            -30px 25px 35px rgba(16, 16, 16, 0.2),
            -40px 30px 60px rgba(16, 16, 16, 0.4);
    }
}

.intro-info p {
    font-size: 2em;
    font-weight: bold;
    color: var(--quinary);
    animation: fadeIn 2.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    gap: 5em;   
}

/* Button animation from: https://codepen.io/afa34/pen/VwzxmNN */

.buttons a button {
    height: 3em;
    width: 10em;
    background-color: var(--quinary);
    font-size: 1em;
    font-weight: bold;
    color: var(--secondary);
    border-color: var(--primary);
    border-radius: 1em;
    box-shadow: -0.3em 0.3em 0.5em var(--secondary);

    /* Smoothens transition: */
    transition: box-shadow 0.3s, background-color 0.3s, border-color 0.3s, color 0.3s;
    opacity: 0;
}

.buttons a button:hover {
    box-shadow: 0.3em -0.3em 0.5em var(--quinary);
    background-color: var(--secondary);
    border-color: var(--primary);
    color: #fff;
    cursor: pointer;
}

.fadeInButton.show {
    animation: fadeIn 3s forwards;
}