.projects {
    display: grid;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    padding: 2% 0 ;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--quinary);
    gap: 1em;
    margin: 1em;
    border-radius: 1em;
}

.project-info {
    display: grid;
    padding: 1em;
}

.projects h5 {
        color: white;
        font-size: 4em;
        text-shadow: 
        /* 3D EFFECT: (horizontal, vertical, blur, color) */
            -1px 1px 1px var(--secondary),
            -2px 2px 1px var(--secondary),
            -3px 3px 1px var(--secondary),
            -4px 4px 1px var(--secondary),
            -5px 5px 1px var(--secondary),
    
        /* SHADOW: (horizontal offset, vertical offset, blur radius, rgba = red, green, blue, alpha) */ 
            -10px 18px 6px rgba( 16, 16, 16, 0.4),
            -20px 22px 10px rgba( 16, 16, 16, 0.2),
            -30px 25px 35px rgba( 16, 16, 16, 0.2),
            -40px 30px 60px rgba( 16, 16, 16, 0.4);     
}

.project-card h6 {
    font-size: 2em;
    padding: 0.25em;
}

.project-card img {
    max-width: 100%;
}